<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring.cia.ceoMenu.mapper.ICeoMenuMapper">
	
	<resultMap type="com.spring.cia.command.ReviewVO" id="reviews">
	  	<id property="reviewNum" column="review_num"/>
	  	<result property="userId" column="user_id"/>
	  	<result property="orderNum" column="order_num"/>
	  	<result property="menuName" column="menu_name"/>
	  	<result property="shopName" column="shop_name"/>
	  	<result property="reviewContent" column="review_content"/>
	  	<result property="reviewStar" column="review_star"/>
	  	<result property="reviewDate" column="review_date"/>
	  	<result property="reviewReply" column="review_reply"/>
  	</resultMap>
  
  	<resultMap type="com.spring.cia.command.ReplyVO" id="replys">
	  	<id property="replyNum" column="reply_num"/>
	  	<result property="reviewNum" column="review_num"/>
	  	<result property="shopName" column="shop_name"/>
	  	<result property="replyContent" column="reply_content"/>
	  	<result property="replyDate" column="reply_date"/>
  	</resultMap>
	
	
	<!-- couponList -->
	<insert id="generateCoupon">
		INSERT INTO cia_coupons
		<!-- 
		 (coupon_name, coupon_discount,
		coupon_regdate, coupon_enddate, shop_name,
		coupon_remain, coupon_term_price, coupon_code)
		 -->
		VALUES(
		#{couponName}, #{couponDiscount},
		#{couponRegDate}, #{couponEndDate}, '쿡잇올코퍼레이션',
		#{couponRemain}, #{couponTermPrice}, #{couponCode}
		)
	</insert>
	
	<select id="getList" resultType="com.spring.cia.command.CouponVO">
		SELECT
		coupon_name AS couponName,
		coupon_discount AS couponDiscount,
		coupon_regdate AS couponRegDate,
		coupon_enddate AS couponEndDate,
		coupon_remain AS couponRemain,
		coupon_term_price AS couponTermPrice,
		coupon_code AS couponCode
		FROM cia_coupons
	</select>
	
	  <delete id="deleteLine">
  	DELETE FROM cia_coupons
  	WHERE coupon_code = #{couponCode}
  </delete>
  
	
	<!-- couponList끝 -->
	
	<!-- menuList -->
	
	<!-- menuList끝 -->
	
	<!-- orderList -->
	
	<!-- orderList끝 -->
	
	<!-- saleHistory -->
	
	<!-- saleHistory끝 -->
	
	
	<!-- shopReviewList -->
	<select id="reivewList" resultMap="reviews">
		SELECT * FROM	
			(
			SELECT ROWNUM AS rn, tbl.* FROM
				(
				SELECT * FROM cia_review
				WHERE shop_name = #{shopName}
				ORDER BY review_num DESC
				) tbl
			)
		<![CDATA[
		WHERE rn > (#{pvo.pageNum} - 1) * #{pvo.countPerPage}
		AND rn <= #{pvo.pageNum} * #{pvo.countPerPage}
		]]>  
  </select>
  
  <select id="getReviewTotal" resultType="int">
  	SELECT COUNT(*)
  	FROM cia_review
    WHERE shop_name = #{shopName}
  </select>
  
  <select id="replyContent" resultMap="replys">
  	SELECT * FROM cia_review_reply
  	WHERE review_num = #{reviewNum}
  </select>
  
  <insert id="replyWrite">
  	INSERT INTO cia_review_reply
  	(reply_num, review_num, shop_name, reply_content)
  	VALUES(REPLY_SEQ.nextval, #{writeReviewNum}, #{writeShopName}, #{writeReplyContent})
  </insert>
  
  <update id="reviewReply">
  	UPDATE cia_review
  	SET review_reply = 1
  	WHERE review_num = #{writeReviewNum}
  </update>
  
  <delete id="replyDelete">
  	DELETE cia_review_reply
	WHERE reply_num = #{replyNum}
  </delete>
  
  <update id="revewiReplyDel">
	UPDATE cia_review
	SET review_reply = 0
	WHERE review_num = #{reviewNum}
  </update>
  
  <update id="replyModify">
  	UPDATE cia_review_reply
  	SET reply_content = #{replyContent}
  	WHERE reply_num = #{replyNum}
  </update>
	<!-- shopReviewList끝 -->

</mapper>
  