<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.spring.cia.ceoMenu.mapper.ICeoMenuMapper">
	<!-- couponList -->
	<insert id="generateCoupon">
		INSERT INTO cia_coupons
		<!-- 
		 (coupon_name, coupon_discount,
		coupon_regdate, coupon_enddate, shop_name,
		coupon_remain, coupon_term_price, coupon_code)
		 -->
		VALUES(
		#{couponName}, #{couponDiscount},
		#{couponRegDate}, #{couponEndDate}, '쿡잇올코퍼레이션',
		#{couponRemain}, #{couponTermPrice}, #{couponCode}
		)
	</insert>
	
	<select id="getList" resultType="com.spring.cia.command.CouponVO">
		SELECT
		coupon_name AS couponName,
		coupon_discount AS couponDiscount,
		coupon_regdate AS couponRegDate,
		coupon_enddate AS couponEndDate,
		coupon_remain AS couponRemain,
		coupon_term_price AS couponTermPrice,
		coupon_code AS couponCode
		FROM cia_coupons
	</select>
	
	  <delete id="deleteLine">
  	DELETE FROM cia_coupons
  	WHERE coupon_code = #{couponCode}
  </delete>
  
	
	<!-- couponList끝 -->
	
	<!-- menuList -->
	<insert id="insertMenu" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO cia_menu
			VALUES(
			#{menuName}, #{menuPrice},
			#{menuInfo}, #{menuOpen}, #{shopName},
			 menunum_seq.NEXTVAL, #{menuImage}
			)
		]]>
	</insert>
	
	<select id="getByteImage" resultType="java.util.Map">
    	SELECT menu_Image AS menuImage
    	FROM cia_menu
    	WHERE menu_name = 'red'
	</select>
	
	
	<!-- menuList끝 -->
	
	<!-- orderList -->
	
	<!-- orderList끝 -->
	
	<!-- saleHistory -->
	
	<!-- saleHistory끝 -->
	
	<!-- shopReviewList -->
	
	<!-- shopReviewList끝 -->

</mapper>
  